/* Buttons */
.btn {
	background-color: black;
	color: white;
	border: 2px solid transparent;
	padding: 10px 30px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.5s;
}

.btn:hover {
	background-color: white;
	color: black;
	border-color: black;
}

.btn:active {
	background-color: var(--mid1);
	color: black;
	border-color: black;
}

.btn:disabled {
	background-color: gray;
	color: lightgray;
	/* opacity: 0.5; */
	cursor: default;
}

.btn-mid1 {
	color: var(--mid1);
	background-color: white;
	border: 2px solid var(--mid2);
}

.btn-m {
	padding: 5px 10px;
}

.btn-no-border {
	color: black;
	background-color: white;
	padding: 5px 10px;
	border: none;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
}

.btn-no-border:hover {
	border: none;
	border-top: 2px solid transparent;
	border-bottom: 2px solid black;
}

.btn-wrap-gap20 {
	display: flex;
	gap: 20px;
}

.btn-mid1-solid {
	color: white;
	background-color: var(--mid4);
	border: 2px solid var(--mid2);
}
