.desktop-ctrl {
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: var(--desktop);
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0)),
		url("../../public/images/desktop2.jpg");
	background-size: contain;
	background-position: bottom center;
	background-repeat: no-repeat;
}

.desktop-greeting-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
}

.desktop-greeting {
	font-weight: bold;
	font-size: 2rem;
}

/* notes & pad */
.desktop-note-pad {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
}

.desktop-notes,
.scratch-pad {
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.desktop-notes {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.scratch-pad {
	padding: 15px;
}

.desktop-notes-top {
	padding: 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.desktop-notes-top-notes {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	font-size: 13px;
}

.dt-notes-wrap {
	display: flex;
	overflow-x: auto;
	gap: 20px;
	padding: 5px 20px;
	flex-wrap: nowrap;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
	background-color: white;
}

.desktop-note {
	background-color: var(--paper);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	padding: 5px;
	border-radius: 5px;
	width: 120px;
	height: 150px;
	flex: 0 0 auto;
}

.desktop-notes-btm {
	background-color: white;
	height: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Just pad */
.scratch-pad {
	display: flex;
	flex-direction: column;
	background-color: var(--pad);
	font-size: 13px;
	gap: 5px;
}

.pad-title {
	display: flex;
	justify-content: space-between;
}

.pad {
	transition: all 0.25;
	font-size: 10px;
	color: var(--mid4);
}
.pad-save-hidden {
	opacity: 0;
	transition: all 0.25s;
}

.pad-textarea {
	background-color: transparent;
	border: none;
	height: 100%;
}

.pad-textarea::placeholder {
	transition: all 0.25s;
}

.pad-textarea:focus {
	outline-color: transparent;
	outline-style: none;
}

.pad-textarea:focus::placeholder {
	color: transparent;
}

@media screen and (max-width: 500px) {
	.desktop-greeting-wrap {
		flex-direction: column;
		justify-content: center;
		padding-top: 0px;
		gap: 10px;
	}

	.desktop-greeting {
		text-align: center;
	}

	.desktop-note-pad {
		display: flex;
		flex-direction: column;
		height: unset;
	}
	.scratch-pad {
		height: 250px;
	}
}
