.container-ctr {
	background-image: url("../../public/images/bg.svg");
	background-size: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 30px 0px;
}

.form-control {
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	max-width: 500px;
	background-color: var(--paper);
	border-radius: 10px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	color: black;
	position: relative;
}

.login-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

.logo {
	width: 125px;
}

.title {
	font-family: "Signika Negative", sans-serif;
	color: var(--mid1);
	font-size: 72px;
	margin: 0;
}

.slogan {
	text-align: center;
}

.error-list {
	border: 1px solid var(--alert1);
	border-radius: 5px;
	width: 60%;
	min-width: 250px;
	background-color: var(--alert2);
	padding: 10px;
}

.error-list li {
	font-size: 13px;
	list-style: square;
	color: var(--alert1);
}

/* Log in form */
.form-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.form-gap20 {
	gap: 20px;
}

.form-gap30 {
	gap: 30px;
}

.form-gap15 {
	gap: 15px;
}

.form-title {
	font-size: 24px;
}

.form-description {
	width: 100%;
	overflow-wrap: break-word;
	white-space: normal;
}

.form-input-ctrl {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
	background-color: white;
	color: gray;
	width: 60%;
	min-width: 250px;
}

.form-input-ctrl .input {
	border: none;
	background-color: transparent;
}

input::placeholder {
	transition: all 0.25s;
}

input:focus::placeholder {
	color: transparent;
}

.hidden {
	visibility: hidden;
}

.form-link-label,
.form-link {
	font-size: 14px;
}

.form-link {
	text-decoration: none;
	color: var(--mid4);
	text-align: center;
	transition: all 0.5s;
	cursor: pointer;
}

.form-link:hover {
	color: var(--mid1);
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

input:focus {
	outline-color: transparent;
	outline-style: none;
}

input {
	width: 100%;
}

@media screen and (max-width: 500px) {
	.logo {
		width: 100px;
	}

	.title {
		font-family: "Signika Negative", sans-serif;
		color: var(--mid1);
		font-size: 50px;
		margin: 0;
	}

	.slogan {
		text-align: center;
		font-size: 14px;
	}

	.form-gap20 {
		gap: 10px;
	}

	.form-control {
		width: 90%;
	}
}
