/* Splash page nav bar */
.navigation-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	position: sticky;
	top: 0px;
	z-index: 1;
	background-color: white;
}

.navigation-wrapper .active {
	border: none;
}

.nav-shadow {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.navigation-logo-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

.navigation-logo {
	height: 30px;
}

.navigation-title {
	font-family: "Signika Negative", sans-serif;
	color: var(--mid1);
	font-size: 40px;
	line-height: 32px;
	height: 36px;
	margin: 0;
	text-align: center;
}

.navigation-links {
	display: flex;
	gap: 10px;
}

/* Sidebar */
.navbar {
	width: 20%;
	max-width: 175px;
	background-color: var(--dark2);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: 13px;
	color: var(--background);
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	flex-wrap: nowrap;
	-webkit-overflow-scrolling: touch;
}

.nav-top,
.nav-div {
	display: flex;
	align-items: center;
	gap: 5px;
}

.nav-top {
	padding: 10px;
	cursor: pointer;
}
.nav-div {
	padding: 10px 10px 10px 5px;
	justify-content: space-between;
	cursor: pointer;
}

.nav-div:hover {
	background-color: var(--dark1);
}

.nav-div-left {
	display: flex;
	gap: 5px;
	align-items: center;
}

.nav-caret {
	width: 10px;
	font-size: 11px;
	transition: all 0.5s;
}

.nav-caret-down {
	transform: rotate(0.25turn);
}

.nav-avatar-img {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 30px;
	background-color: var(--mid1);
}

.nav-add {
	color: transparent;
	transition: all 0.5s;
}

.nav-div:hover .nav-add {
	color: var(--mid2);
	opacity: 0.7;
}

.nav-dd-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 7px;
	padding: 7px;
	padding-left: 23px;
	cursor: pointer;
}

.nav-dd-div-tight {
	gap: 5px;
	padding: 3px 5px 5px 23px;
}

.nav-dd-div:hover {
	background-color: var(--dark1);
}

.nav-dd-title {
	width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nav-new {
	color: var(--mid1);
}

.nav-dropdown-hide {
	opacity: 1;
	visibility: hidden;
	display: none;
	transition: all 0.5s;
	height: 0%;
}

.nav-user-dd {
	position: fixed;
	top: 50px;
	background-color: var(--paper);
	width: 150px;
	border-radius: 5px;
	z-index: 2;
	padding: 10px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.nav-user-dd {
	color: black;
}

.nav-user-dd:hover {
	color: var(--mid4);
	cursor: pointer;
}
