.note-control {
	display: grid;
	grid-template-columns: 150px auto;
}

/* Note sidebar */
.note-sidebar {
	background-color: var(--paper-dark);
	border-right: 1px solid lightgray;
}

/* Title box */
.note-title-box {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	gap: 10px;
	border-bottom: 1px solid lightgray;
	box-sizing: border-box;
	height: 80px;
}

.note-title-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.note-title-icon {
	display: flex;
	gap: 5px;
	align-items: center;
}

.note-title-edit {
	font-size: 12px;
	padding: 2px 4px;
	border-radius: 3px;
	transition: all 0.5s;
	cursor: pointer;
}

.note-title-edit:hover {
	background-color: var(--mid3);
}

.note-title {
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.note-title-ctrl {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.note-title-ctrl-count {
	font-size: 12px;
}

.note-title-ctrl-ctrls {
	display: flex;
	gap: 10px;
}

/* Individual Note Box*/
.note-box {
	padding: 5px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid lightgray;
	cursor: pointer;
	height: 100px;
	display: grid;
	grid-template-rows: 20px auto auto 14px;
	transition: all 0.25s;
}

.note-box:hover {
	background-color: var(--paper);
	border: 1px solid var(--mid1);
}

.note-title {
	font-size: 14px;
}

.note-content {
	font-size: 12px;
	font-weight: light;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.note-update {
	font-size: 12px;
	font-weight: light;
}

/* No notes */
.no-notes-wrap {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.no-notes-icon {
	opacity: 0.5;
}

/* Note view */
.note-view {
	background-color: var(--paper);
	display: grid;
	grid-template-rows: 50px 30px 66px auto 33px;
}

.note-view-notebook-wrap {
	padding: 10px 10px 0px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.note-view-notebook,
.note-view-notebook-edit {
	display: flex;
	align-items: center;
}

.note-view-notebook {
	gap: 5px;
	font-size: 14px;
	color: gray;
	padding: 2px 5px;
	border-radius: 3px;
	background-color: var(--paper);
	transition: all 0.5s;
}

.note-view-notebook:hover {
	filter: brightness(90%);
}

.pad5 {
	display: flex;
	gap: 5px;
	align-items: center;
	position: relative;
}

.note-view-notebook-move {
	color: gray;
	font-size: 10px;
	padding: 2px 5px;
	border-radius: 3px;
	background-color: var(--paper);
	opacity: 0;
	transition: all 1s;
	cursor: pointer;
}

.note-view-notebook-move:hover {
	filter: brightness(90%);
}

.pad5:hover .note-view-notebook-move {
	z-index: 1;
	opacity: 1;
}

/* dropdown menu */
.notebook-move-dd-wrap {
	position: relative;
}

.notebook-move-dd {
	position: absolute;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	top: 20px;
	left: 0;
	right: 0;
	width: 150px;
	z-index: 2;
}

.notebook-move-dd-div {
	font-size: 12px;
	padding: 3px 5px;
	background-color: white;
	transition: all 0.5s;
	cursor: pointer;
}
.notebook-move-dd-div:hover {
	filter: brightness(90%);
}

/* back to note view title section */
.note-view-notebook-edit {
	gap: 10px;
	font-size: 16px;
	color: gray;
	padding-right: 20px;
}

.note-view-notebook-edit i {
	padding: 5px;
	border-radius: 3px;
	background-color: var(--paper);
	transition: all 0.5s;
	cursor: pointer;
}

.note-view-notebook-edit i:hover {
	filter: brightness(90%);
}

.note-view-update {
	border-bottom: 1px solid lightgray;
	padding: 0px 10px 10px 10px;
	font-size: 12px;
	color: gray;
}

.note-view-title {
	padding: 20px;
	font-size: 24px;
	font-weight: bold;
	border: none;
}

.note-view-content {
	padding: 0px 20px 20px 20px;
	border: none;
	width: 90%;
	height: 100%;
}

.note-view-tags {
	border-top: 1px solid lightgray;
	padding: 5px;
	display: flex;
	gap: 5px;
	align-items: center;
}

.note-view-tags i {
	color: gray;
}

@media screen and (min-width: 1000px) {
	.note-control {
		grid-template-columns: 200px auto;
	}
}
