.notebook-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../../public/images/bg.svg");
	background-size: 250px;
}

.notebook-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	border-radius: 20px;
	gap: 40px;
}

.fly-bee {
	height: 100px;
	transform: rotate(30deg);
	padding-left: 20px;
}

.notebook-ctnr-title {
	font-size: 24px;
	font-weight: bold;
}

.all-notebooks-backdrop {
	background-color: var(--background);
	display: flex;
	justify-content: center;
	padding: 30px;
	width: 100%;
	height: 100vh;
}

.all-notebooks-ctnr {
	background-color: var(--paper);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	max-width: 1000px;
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.all-notebooks-title-wrap {
	display: flex;
	justify-content: space-between;
}

.all-notebooks-title {
	font-weight: bold;
	display: flex;
	gap: 5px;
	align-items: flex-end;
	font-size: 18px;
}

.all-notebooks-subtitle {
	font-weight: normal;
	font-size: 12px;
	color: gray;
}

.all-notebook-div {
	background-color: var(--mid4);
	padding: 5px;
	font-size: 14px;
	display: flex;
	gap: 5px;
	color: white;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	align-items: center;
}

.all-notebook-total {
	font-size: 12px;
	color: var(--background);
	opacity: 0.7;
	text-shadow: none;
}

.all-note-div {
	padding: 5px 5px 5px 20px;
	font-size: 13px;
	background-color: var(--paper);
	display: flex;
	gap: 7px;
	align-items: center;
}

.all-note-div:nth-child(2n) {
	background-color: rgb(242, 242, 242);
}

.all-note-div:hover {
	filter: brightness(95%);
}

.all-note-div i {
	color: gray;
}
