/* Tags */
.tag {
	display: inline-block;
	position: relative;
	padding: 3px 10px;
	background-color: #777;
	border-radius: 15px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
	max-width: 100px;
}

.dk-note-tags .tag {
	height: 15px;
	line-height: 15px;
	padding: 0 7px 0 5px;
	font-size: 10px;
	max-width: 50px;
	font-weight: bold;
	background-color: unset;
}

.tag-sm {
	font-size: 12px;
	padding: 2px 7px;
}

.tag i {
	filter: brightness(200%);
}
